.project_list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.issue_card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.issue_card h3 {
    margin: .5rem;
}
.project_card a {
    color: white;
}
.project_card a:hover {
    color: white;
    text-decoration: none;
}
.issue_card button {
    margin: .5rem 2rem .5rem 2rem;
}